{
	"presets": ["minify", "@babel/env", "@babel/preset-typescript"],
	"plugins": [
		"@babel/plugin-transform-modules-commonjs",
		"@babel/transform-runtime",
		["@babel/proposal-decorators", {"legacy": true}],
		"@babel/plugin-proposal-class-properties"
	],
	"comments": false
}
